@model IEnumerable<Domain.Models.History>
@{
    ViewBag.Title = "History";
}

<h2>Операция</h2>

<table border="1">
    <tr>
        @foreach (var oper in Model)
            {
        <tr>
            <td>@oper.X </td>
            <td>@oper.Operation</td>
            <td>@oper.Y </td>
            <td>=</td>
            <td>@oper.Result</td>
            <td>date: @oper.CreationDate</td>
        </tr>
        }
        </tr>
    </table>

