@model IEnumerable<Domain.Models.History>
@{
    ViewBag.Title = "History";
}

<h2>Операция</h2>

<table border="1" cellpadding="7">
    <tr>
        <th>X</th>
        <th>Операция</th>
        <th>Y</th>
        <th>=</th>
        <th>Результат</th>
        <th>Дата</th>
        @foreach (var oper in Model)
            {
        <tr>
            <td>@oper.X </td>
            <td>@oper.Operation</td>
            <td>@oper.Y </td>
            <td>=</td>
            <td>@oper.Result</td>
            <td>@oper.CreationDate</td>
        </tr>
        }
        </tr>
    </table>

